:root {
  --font-size-header: 24px;
  --font-size-paragraph: 20px;
  --font-size-card: 16px;
  --font-size-label: 16px;


  --font-weight-normal: 400;
  --font-weight-important: 700;

  --font-color-black: #13202f;
  --font-color-gray: #616e7d;
  --font-color-white: #ffffff;
}
