@import '@variables';

.textContainer {
  display: flex;
  justify-content: center;
}

.text {
  display: block;
  background-color: var(--white);
  font-size: var(--font-size-paragraph);
  color: var(--font-color-gray);
}

.prefectureContainer {
  display: flex;
  justify-content: center;
}

