.button {
  border: none;
  outline: none;
  background: none;

  & svg {
    width: var(--arrow-svg-size);
    height: var(--arrow-svg-size);
    opacity: 0.4;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 1;
    }
  }
}
