@import '@variables';

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;

  @include mq(xl) {
    grid-template-columns: repeat(8, 1fr);
  }
  @include mq(lg) {
    grid-template-columns: repeat(6, 1fr);
  }
  @include mq(md) {
    grid-template-columns: repeat(4, 1fr);
  }
  @include mq(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}
