@use '@variables' as *;

.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--sm);
  column-gap: var(--md);
  row-gap: var(--lg);

  @include mq(xl) {
    grid-template-columns: repeat(8, 1fr);
  }
  @include mq(lg) {
    grid-template-columns: repeat(7, 1fr);
  }
  @include mq(md) {
    grid-template-columns: repeat(5, 1fr);
  }
  @include mq(sm) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.textContainer {
  display: flex;
  justify-content: center;

  & h2 {
    font-size: var(--font-size-section-title);
    color: var(--font-color-gray);
  }
}

.prefectureContainer {
  display: flex;
  justify-content: center;
}
