.arrowContainer {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: space-between;
}

.chartText {
  font-size: var(--font-size-section-title);
  color: var(--font-color-black);
}
